CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


build
test/_tmp*
caldaia
array1.ll
*._not_opt
array3
test/inlinetest
test/test
test/inlinetest2
test/enqueueexample
.tmp
difference-example
test/polybench-3.1/stats
test/polybench-c-4.2.1-beta/output-data-32
build.log
test/polybench-c-4.2.1-beta/output-data-64
test/polybench-c-4.2.1-beta/stats
*.o
npbparams.h
setparams
test/NPB3.0-omp-C-master/bin
build-llvm6
cmake-build-debug/
.idea/

test/function

test/axbench/blackscholes/bin/
test/axbench/blackscholes/obj/
test/axbench/blackscholes/data/output/

test/axbench/fft/bin/
test/axbench/fft/obj/
test/axbench/fft/data/output
