CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


build
test/_tmp*
caldaia
array1.ll
*._not_opt
array3
test/inlinetest
test/test
test/inlinetest2
